<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse bg-blue-700" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar">
            <span class="sr-only">
                Activar Navegación
            </span>
            <span class="hamburger-bar">
            </span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
            <i class="icon md-more" aria-hidden="true">
            </i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <img class="navbar-brand-logo" src="{{ TwigFunctions('app_root') }}resources/views/img/logo3.png" title="Entel"/>
            <span class="navbar-brand-text hidden-xs-down">
                Entel
            </span>
        </div>
    </div>
    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="nav-item hidden-float" id="toggleMenubar">
                    <a class="nav-link" data-toggle="menubar" href="#" role="button">
                        <i class="icon hamburger hamburger-arrow-left">
                            <span class="sr-only">
                                Activar Menú
                            </span>
                            <span class="hamburger-bar">
                            </span>
                        </i>
                    </a>
                </li>
                <li class="nav-item hidden-sm-down" id="toggleFullscreen">
                    <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                        <span class="sr-only">
                            Activar Fullscreen
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-size-16" data-animation="fade">
                        <strong>InWeb</strong>&nbsp;&nbsp;<span class="amber-800">[</span>&nbsp;Plataforma de Ingeniería e Implementación de Transmisión&nbsp;<span class="amber-800">]</span>
                    </a>
                </li>
            </ul>
            <!-- End Navbar Toolbar -->
            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="nav-item">
                    <a class="nav-link font-size-16" data-animation="fade">
                        Week {{ week }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-size-16" data-animation="fade">
                        {{ TwigFunctions('user').nombre }}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="scale-up" role="button">
                        <span class="avatar avatar-online">
                            <img src="{{ TwigFunctions('app_root') }}resources/views/img/user.png" alt="..."/>
                            <i>
                            </i>
                        </span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                            <i class="icon md-account" aria-hidden="true">
                            </i>
                            Perfil
                        </a>
                        <div class="dropdown-divider">
                        </div>
                        <a class="dropdown-item logout" href="{{ TwigFunctions('app_root') }}logout" role="menuitem">
                            <i class="icon md-power" aria-hidden="true">
                            </i>
                            Cerrar Sesión
                        </a>
                    </div>
                </li>
            </ul>
            <!-- End Navbar Toolbar Right -->
            <div class="navbar-brand navbar-brand-center">
                <a href="{SERVER}">
                    <img class="navbar-brand-logo navbar-brand-logo-normal" src="{{ TwigFunctions('app_root') }}resources/views/img/logo3.png" title="Entel"/>
                    <img class="navbar-brand-logo navbar-brand-logo-special" src="{{ TwigFunctions('app_root') }}resources/views/img/logo3.png" title="Entel"/>
                </a>
            </div>
        </div>
        <!-- End Navbar Collapse -->
        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
            <form role="search">
                <div class="form-group">
                    <div class="input-search">
                        <i class="input-search-icon md-search" aria-hidden="true">
                        </i>
                        <input type="text" class="form-control" name="site-search" placeholder="Buscar..."/>
                        <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search" data-toggle="collapse" aria-label="Cerrar">
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Site Navbar Seach -->
    </div>
</nav>
