<!DOCTYPE html>

<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="InWeb">
    <meta name="author" content="Jonathan Arancibia jonathan.arancibia@entel.pe">

    <title>InWeb Entel{% if page_title is defined %} | {{ page_title }}{% endif %}</title>

    <link rel="shortcut icon" href="{{ TwigFunctions('app_root') }}resources/views/img/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/vendor/bootstrap/bootstrap-extend.min.css">
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/css/site.min.css">
    {% block skin %}<link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/css/skins/blue.css">{% endblock %}
    {% block stylesheets %}{% endblock %}

    <!-- Plugins -->
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/vendor/waves/waves.css">

    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/vendor/bootstrap-touchspin/bootstrap-touchspin.css">
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/vendor/bootstrap-sweetalert/sweetalert.css">
    {% block plugin_stylesheets %}{% endblock %}

    <!-- Fonts -->
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/fonts/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/fonts/material-design/material-design.min.css">
    <link rel="stylesheet" href="{{ TwigFunctions('app_root') }}resources/views/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    {% block fonts %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/media-match/media.match.min.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/respond/respond.min.js"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition page-aside-left">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include('base/nav.twig') %}
    {% include('base/menu.twig') %}
    <!-- Page -->
    {% block page_content %}{% endblock %}
    <!-- End Page -->
    <!-- Footer -->
    <footer class="site-footer">
        <div class="site-footer-legal">
            © 2018
            <a href="{{ TwigFunctions('app_root') }}">
                Gerencia de Construcción e Infraestructura de Red
            </a>
        </div>
        <div class="site-footer-right">
            Desarrollado
            <i class="red-600 icon md-code">
            </i>
            por
            <a href="mailto:jonathan.arancibia@entel.pe?Subject=Feedback" target="_top">
                Jonathan Arancibia
            </a>
        </div>
    </footer>
    {% block page_extra_content %}{% endblock %}
    <!-- Core  -->
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/jquery/jquery.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/popper-js/umd/popper.min.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/bootstrap/bootstrap.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/animsition/animsition.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/waves/waves.js"></script>
    {% block js_core %}{% endblock %}
    <!-- Plugins -->
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/switchery/switchery.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/intro-js/intro.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/screenfull/screenfull.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/vendor/bootstrap-sweetalert/sweetalert.js"></script>
    {% block js_plugins %}{% endblock %}

    <!-- Scripts -->
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/Component.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/Plugin.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/Base.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/Config.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/core/Section/Menubar.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/core/Section/Sidebar.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/core/Section/PageAside.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/core/Plugin/menu.js"></script>
    <!-- Config -->
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/config/colors.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/core/config/tour.js"></script>
    <script>Config.set('assets', "{{ TwigFunctions('app_root') }}resources/views/js/core/");</script>
    <!-- Page -->
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/core/Site.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/Plugin/asscrollable.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/Plugin/slidepanel.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/Plugin/switchery.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/Plugin/jquery-placeholder.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/Plugin/material.js"></script>
    <script src="{{ TwigFunctions('app_root') }}resources/views/js/Plugin/bootstrap-sweetalert.js"></script>
    {% block js_page %}{% endblock %}

    <script>
        (function(document, window, $){
            'use strict';

            var Site = window.Site;
            $(document).ready(function(){
                Site.run();
            });
        })(document, window, jQuery);
        {{ TwigFunctions('sweetalert', ['notificacion', 'success']) | raw }}
        {{ TwigFunctions('sweetalert', ['error', 'warning']) | raw }}
    </script>
</body>
</html>
